@charset "UTF-8";

html, body { 
    min-height: 100vh;
    background-color: aquamarine;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > nav {
    background-color: rgb(209, 39, 39);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 100px;
    padding-right: 100px;
    text-align: right;
}

nav > a {
    color: white;
    text-decoration: none;
}

section {
    padding-left: 100px;
    padding-right: 100px;
}

section.normal {
    background-color: white;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

div.box{

    display: inline-block;
}
            

